/* === CONTACT PAGE */
#contact-form{
  max-width:70%;
}
#contact-form input, #contact-form textarea{
  width:100%;
  border:0;
  border: 1px solid #1B719B;
  padding:10px;
}
#contact-form input:focus, #contact-form textarea:focus{
  border: 1px solid #D2DBDA;
}
#contact-form input[type="submit"]{
  text-indent: 0;
  width: 150px;
  font-weight: 400;
  background-color: #1B719B;
  padding: 5px;
  margin-top: 10px;
  color:#fff;
  cursor: pointer;
}
#contact-form input[type="submit"]:hover, #contact-form input[type="submit"]:focus{
  opacity: 0.8;
}
