/* ========================================= */
/* Contanct Page */
#contact-form{
  background-color:#ffffff;
  padding: 20px;
}
#contact-form label{
  display: block;
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 0em;
  padding: 0.2em 0;
}
#contact-form input[type="submit"], #contact-form input[type="submit"]:focus{
  background-color: #A4D7C7;
  border: none;
  color: #1c1e1d;
  padding: 5px 18px;
  font-size: 14px;
  font-weight: 400;
  cursor:pointer;
  border-radius: 3px;
}
#contact-form input[type="submit"]:hover{
  background-color: #3F666B;
  color: #E4F2ED;
  opacity: 0.8;
}
#contact-form input[type="submit"]:active{
  opacity: 1;
}
#contact-form #subject-input, #contact-form #email-input{
  width:49%;
  margin-bottom: 1%;
}
#contact-form #email-input {
  margin-right:2%;
}
#contact-form #subject-input input, #contact-form #email-input input{
  width: 100%;
  border: 1px solid;
  padding: 8px;
  font-size: 0.9em;
}
#contact-form textarea{
  width:49%;
  padding:1%;
  font-size: 0.9em;
  border: 1px solid #000;
  margin-bottom: 1%;
  display:block;
}
\
/* 600px and below */
@media screen and (max-width: 600px) {
  #contact-form #subject-input, #contact-form #email-input{
    width:100%;
    margin-right:0;
  }
}
