/*
**************************************
OmbuShop - Tu Tienda Online
**************************************
Theme: Acqua Blue
File: products.css
**************************************
*/
#product-variants label{
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0;
}
