<!--
Template: Acqua Blue
File: page.liquid
-->

<section id="content" class="static-page-wrapper">
  <h2>{{ page.title }}</h2>
  <div id="inner-page-content" class="page">
    {{ page.content }}
  </div>
</section>
